[Desktop Entry]
Name=GTK Knocker
Comment=Simple port scanner using GTK
Comment[pl]=Prosty skaner portów używający GTK
Icon=gtk-knocker.png
Exec=gtk-knocker 
Terminal=0
Type=Application
# vi: encoding=utf-8
